body{
    --background-color: #F3E8DA;
    --header-color: #73685C;
    --footer-color: #BFAD99;

    --padding-list-dim: 6%;
    --padding-full-dim: 1%;
    --padding-dim: 2%;

    --title-font-size: 2rem;
    --section-title-font-size: 1.6rem;
}

body{
    background-color: var(--header-color);
}

html{
    font-size: 62.5%; 
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    /* transition: font-size 0.3s; */
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--header-color);
    font-size: var(--title-font-size);
    color: var(--background-color);
}

footer{background-color: var(--footer-color);}

main{background-color: var(--background-color); }

#page-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-areas: 
        /*
        "z-presentation z-presentation z-presentation z-presentation"
        "z-presentation z-presentation z-presentation z-presentation"
        "z-onsale z-table z-table z-accessories"
        "z-secondhand z-table z-table z-accessories"
        "z-secondhand z-trivia z-trivia z-faq"
        "z-aboutus z-aboutus z-aboutus z-aboutus";*/

        "z-presentation z-presentation z-presentation z-presentation"
        "z-presentation z-presentation z-presentation z-presentation"
        "z-onsale z-table z-table z-accessories"
        "z-faq z-table z-table z-accessories"
        "z-secondhand z-secondhand z-secondhand z-trivia"
        "z-aboutus z-aboutus z-aboutus z-aboutus";

        >*{
    
            padding-left: var(--padding-dim);
            padding-right: var(--padding-dim);
            padding-top: var(--padding-full-dim);
            padding-bottom: var(--padding-full-dim);
        
            font-size: var(--section-title-font-size); 
        }

        section{
            & .secondhand, & .faq{
                padding-left: var(--padding-list-dim);
                padding-right: var(--padding-list-dim);
            }

            & .aboutus, & .presentation{
                padding-left: var(--padding-full-dim);
                padding-right: var(--padding-full-dim);
            }
            
        }
}

#presentation{grid-area: z-presentation;}
#table{grid-area: z-table;}
#secondhand{grid-area: z-secondhand;}
#accessories{grid-area: z-accessories;}
#onsale{grid-area: z-onsale;}
#aboutus{grid-area: z-aboutus;}
#faq{grid-area: z-faq;}
#trivia{grid-area: z-trivia;}

.i{
    display: flex;
}

[name|="ifr-video"]{
    position: relative;
    z-index: 10;
}

.iframe{
    display: flex;
    flex-direction: column;

    a{
        display: block;
        width: 9rem;
        height: 4.5rem;
        border: 5px double black;
        border-radius: 10px;
    
        transition: width linear 1s;
        text-decoration: none;
        color: black;
        text-align: right;
    
        position: relative;
        left: -8px;  
    }

    a:hover{
        width: 11rem;
        background-color: var(--unselected-text-color);
    }
}

.essentials{
    line-height: 4.5rem;
    align-items: center;
}

#link-top{
    position:fixed;
    bottom:1em;
    opacity:0.5;
    right:1em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:1px solid grey;
    background: rgb(220,220,220);
    rotate: 45deg;
    
}

#link-top:hover{
    opacity:90%;

    #triangle{
        border-bottom: 1.5rem solid var(--header-color);
    }
}

#triangle{
    
    height:0px;
    width:0;
    display:inline-block;
    border-bottom:1.5rem solid grey;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    vertical-align: top;
    transform: translate(-23%, 30%);
    rotate: -45deg;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;

}