.hr{
    height: 20px;
    background-size: 20px 10px, 20px 10px;
    background-image: linear-gradient(to left, var(--header-color),var(--header-color) 50%, transparent 50.001%, transparent), linear-gradient(to left, var(--header-color),var(--header-color) 50%, transparent 50.001%, transparent);
    background-position: 0 0, 10px 10px;
    background-repeat: repeat-x, repeat-x;

    opacity: 1;
    border-top: 0;
    margin: 0;

}
