<!DOCTYPE html>

<html  lang="en">

    <head>

        <title>AAV Recs</title>

        <meta name="keywords" content="music, vinyl, record, E-store, disc, album, records, sale, song, analog, turntable, pick-up, rare, exclusive">
        <meta name="description" content="AAV - all about vinyl. Exclusive record selection: new, pre-owned, rare finds. Buy discs, audio equipment and more!">

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        
        <%- include("../fragments/head.ejs") %>


    </head>

    <body>

    <%- include("../fragments/header.ejs") %>
        
        <main>
            <section class="aboutus" id="aboutus">
                <h2>About Us</h2>
                <br>
                <p> We are an <i>E-store</i> dedicated to <b>analog music lovers</b>. Our main focus is <b>record selling</b>, but the inventory also contains disc <em>accessories</em>. A <b>future goal</b> is to extend the product range and start selling <em>turntables</em> as well. However, until then, we work on <em>enriching</em> our vinyl selection in order to satisfy <b>any</b> client that visits our site.
                    <br>
                    <br>
                    <a href="resources/terms-policy.txt" download target="_blank">Click to download our terms & policy</a>
                </p>
            </section>
        </main>

        <%- include("../fragments/footer.ejs") %> 

    </body>
    
</html>