<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Confirm</title>
		<%- include("../fragments/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragments/header") %>
		</header>
		<main>
			
			<h1>Confirm mail</h1>
			<p>All good!</p>
		</main>
		
		<%- include("../fragments/footer") %>
		
	</body>
</html>