<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="description" content="AAV Recs - Logout">
        <meta name="keywords" content="records, AAV, logout">
        <link rel="stylesheet" href="/resources/css/products.css" type="text/css" />
        <title>AAV Recs - înregistrare </title>
        <%- include("../fragments/head") %>     
        <script type="text/javascript" src=/resources/js/products.js></script>
    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
    You logged out!
</main>

<footer>
    <%- include('../fragments/footer') %>
</footer>

</body>
</html>