<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="keywords" content="music, vinyl, record, E-store, disc, album, records, sale, song, analog, turntable, pick-up, rare, exclusive">
        <meta name="description" content="AAV Recs - Virtual Cart">

        <link rel="stylesheet" href="/resources/css/virtual-cart.css" type="text/css" />
        <title>AAV Recs - Virtual Cart</title>
        <%- include("../fragments/head") %>     
        <script type="text/javascript" src="/resources/js/virtual_cart.js"></script>
    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
        
        <button class="btn-dark" id="buy">
            Buy
        </button>        
    
    </main>

    <%- include("../fragments/footer") %>
    </body>
</html>