<footer>
    <br>
    <p id="banner-cookie" class="form-control">
        Disclaimer: This is a school project.
        <span id="cookie-message"> By clicking "Accept", you consent to our use of cookies.
            <br>
            <button id="deny-cookies">Deny</button>
            <button id="accept-cookies">Accept</button>
        </span>
    </p>

    <p id="banner-cookie2" class="form-control">
        This site retains data regarding the last product page visited. 
        <span id="cookie-message2"> By clicking "Accept", you consent to our use of retained data.
            <br>
            <button id="deny-cookies2">Deny</button>
            <button id="accept-cookies2">Accept</button>
        </span>
    </p>

    <p><br>
        <label>Choose theme:
            <select id="inp-theme">
                <option id="sel-light" value="light">Light</option>
                <option id="sel-dark" value="dark">Dark</option>
                <option id="sel-blackwhite" value="blackandwhite">Black&White</option>
                <option id="sel-green" value="green">Green</option>
            </select>
        </label>
    </p>

    <a href="#">
        <div title="Back to top" id="link-top">
            <div id="triangle"></div>
        </div>
    </a>

    <address id="misc">
        <a href="tel:+40123456789">Phone</a>
        <br>
        <a href="mailto:aavrecs@gmail.com">E-mail</a>
        <br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0995867,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Location</a>
        <br>
        <a href="https://wa.me/0123456789" target="_blank">WhatsApp</a>
        <br>
        <a href="https://www.facebook.com/AAVRecs" target="_blank">Facebook</a>                           
    </address>    


    <p>Copyright<small> &#169; </small>AAV Recs. Created on  <time datetime="2022-10-15">15-10-2022</time></p>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</footer>