<nav class="header-nav">
    <div><ion-icon name="search-outline"></ion-icon><span class="search">Search</span> </div>
    <ul class="header-menu">
        <li><a href="account.html"> <span class="account">Account</span><ion-icon title="Account" name="person-outline"></ion-icon></a></li>
        <li><a href="cart.html"> <span class="cart">Cart</span><ion-icon name="cart-outline"></ion-icon></a></li> 
    </ul>
</nav>

<header>
    <div class="title"><a href="/">
        <h1>AAV Recs.<small class="small"> All About Vinyl</small></h1>
    </a></div>
</header>

<nav class="nav">

    <label id="hamburger" for="cb-menu">
        <ion-icon name="menu-outline"></ion-icon>
    </label>
    
    <input id="cb-menu" type="checkbox">

    <ul class="menu">
        <li ><a href="home#onsale"><ion-icon name="pricetags-outline"></ion-icon> <span class="sale">Sale </span> </a></li>

        <li><a href="/discs">Genres</a>
            <ul>
                <li><a href="/discs?genre=EDM">EDM</a></li>
                <li><a href="/discs?genre=rock">Rock</a></li>
                <li><a href="/discs?genre=hip hop">Hip Hop</a></li>
                <li><a href="/discs?genre=groove">Groove</a></li>  
            </ul>
        </li>

        <li><a href="home#secondhand">Pre-owned</a></li>

        <li><a href="home#accessories">Equipment</a></li>

        <li class="txt"> <div>Misc</div>
            <ul>
                <li><a href="home#faq">FAQ</a></li>
                <li><a href="home#trivia">Trivia</a></li>
                <li><a href="about">About Us</a></li>
            </ul>
        </li>                
    </ul>
</nav>

<% if(locals.utilizator && locals.utilizator.rol=="admin") { %>
    <li><a href="/useri">Useri</a></li>
<% } %>
<% if(locals.utilizator) { %>
    <li><div><%- locals.utilizator.username %></div>
        <ul>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </li>
<% } %>

